@{
    ViewData["Title"] = "Trang Chính";
}

<h2>Trang Chính</h2>

<a href="@Url.Action("Timkiemthongtin385", "Search")">
    <button type="button">Tìm kiếm thông tin dịch vụ</button>
</a>

<a href="#">
    <button type="button">Dịch vụ khác</button>
</a>